<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <meta name="description" content="">-->
    <!--    <meta name="author" content="">-->

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrapv4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="static/css/main.css" rel="stylesheet"> -->

    <!-- Custom styles.css for this template -->
    <link href="../static/bootstrapv4/css/main.css" rel="stylesheet">
</head>

<body>


<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-block">
        <div class="row">
            <div class="col-1 mt-3">
                <img src="../static/bootstrapv4/img/igloo.png" class="img-fluid">
            </div>
            <div class="col-10">
                <div class="row p-3">
                    <div class="col-11">
                        <input placeholder="Ask me if you can" class="form-control">
                    </div>
                    <div class="col-1 p-0">
                        <button class="btn btn-primary rounded-5" type="button" style="">Искать</button>
                    </div>
                </div>
            </div>
            <div class="col-1 mt-2">
                <div class="text text-left">
                    <a href="#" style="text-decoration-line: underline;">Login</a>
                </div>
                <div class="text text-left align-middle">
                    <a href="#" style="text-decoration-line: underline; .text-al">Register</a>
                </div>
                <!--                    <a href="#" style="text-decoration-line: underline;">Login</a>-->
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<div role="main" class="container mt-3">
    <div class="row mt-0 mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body pt-0">
                    <div class="card-title h1">
                        Register
                    </div>
                    <label><span class="text text-danger">
                        Incorrect data
                    </span>
                    </label>
                    <form>
                        <form class="my-3 mr-2">
                            <label for="loginInput" class="form-label" style="font-size: 1rem;">Login</label>
                            <input class="form-control" id="loginInput" >
                        </form>

                        <form class="my-3 mr-2">
                            <label for="emailInput" class="form-label" style="font-size: 1rem;">Email</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="example@mail.com">
                        </form>

                        <form class="my-3 mr-2">
                            <label for="nicknameInput" class="form-label" style="font-size: 1rem;">Nickname</label>
                            <input class="form-control" id="nicknameInput">
                        </form>

                        <form class="my-3 mr-2">
                            <label for="passwordInput" class="form-label" style="font-size: 1rem;">Password</label>
                            <input type="password" class="form-control" id="passwordInput">
                        </form>

                        <form class="my-3 mr-2">
                            <label for="repeatInput" class="form-label" style="font-size: 1rem;">Repeat password</label>
                            <input type="password" class="form-control" id="repeatInput">
                        </form>

                        <form class="my-3 mr-2">
                            <label for="upload" class="form-label" style="font-size: 1rem;">Upload image</label>
                            <input type="file" class="form-control-file" id="upload">
                        </form>
                    </form>
                    <button type="submit" class="btn btn-primary m-3 float-right">Sign up</button>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-center">Popular tags</div>
                    <div class="row m-0">
                        <div class="col-4">
                            <button type="button" class="ml-lg-1 btn-danger d-inline rounded">WEB</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-info d-inline rounded">SD</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-danger rounded">ML</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 pt-4">
                <div class="h1 text-center">Top users</div>
                <div class="container d-block">
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Kurov</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">SophiVin</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Skullduggery-sys</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">UrMom228</a>


                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <nav class="navbar fixed-bottom navbar-expand navbar-da bg-dark">

    </nav>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>

